{% extends "base.html" %} 

{% block title %}Unsubscribe{% endblock %} 

{% block content %}
  <h2 class="pb-5 mt-5">Sorry to see you go. 😔</h2>
  <form method="POST">
    {% csrf_token %}
    <div class="container border rounded p-5 border-4 small_box">

      <div class="row justify-content-center">
        <div class="col-auto">
          <label for="phone_number" class="form-label">Phone Number</label>
          <div id="phone_number">{{ form.phone_number }}</div>
        </div>
      </div>

      <div class="row justify-content-center pt-5"> 
        <div class="col-auto">
          <label for="are_you_sure" class="form-label">
            Are you sure you'd like to unsubscribe?
          </label>
          <div id="are_you_sure">{{ form.are_you_sure }}</div>
        </div>
      </div>
    </div>
    
    <div class="pt-5 mb-5">
      <button type="submit" class="btn btn-lg button">
        Unsubscribe
      </button>
    </div>
  </form>
{% endblock %}