{% extends "base.html" %} {% block title %}About Me{% endblock %} {% block content%}
  <div class=" col-lg-6 ps-5">
    <h1>About Me</h1>
    <p>Hello! My name is Bailey and I am the creator of this website and notification service. 
      I am computer science student at Western Governors University and I'm expecting to graduate in September of 2025. 
      <br>I am passionate about building tools and services that impact and improve the lives of the end-users. 
      <br>Currently that passion has taken me to build fun tools such as this code notifier, but in the future I hope to be apart of teams that make truly impactful real-world differences.   
      <br>I spend my free time playing games, such as Genshin Impact, hanging out with my pets, and caring for my 30+ house plants. 
      <br>Below you will find a contact form that you can use to contact me. Feel free to use this form for anything, including to tell me how I can improve this website.
      <br>Thank you for taking the time to read this and for checking out my Genshin Notifier. 
      <br>I hope we will be in contact soon.</p>
      
  </div>
 {% endblock %}