{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
  <h1 align="center">Welcome to the Genshin Code Notifier!</h1>
  <div class="row justify-content-center mt-5">
    <div class="col-sm-6 col-md-5 col-lg-4 text-center">
      <p class="fw-bold">Never miss another Genshin code again!</p>
      <p>Click sign up below to add your phone number to our list to be notified when new codes are released!</p>
    </div>
  </div>
  <div class="text-center mt-4">
    <a class="btn btn-outline-light" role="button" href="/sign_up">Sign Up</a>
  </div>
  {% endblock %}