{% extends "base.html" %} {% block title %}Unsubscribe{% endblock %} {% block content%}
<h2 class="text-center pb-5 m-0">Sorry to see you go. 😔</h2>
  <form method="POST">
    <div class="container border rounded p-5 border-4" 
      style="background-color: #5B8DCE; color: #F5FFFF; border-color: #F5FFFF; max-width: 500px;">
      <div class="row justify-content-center">
        <div class="col-auto">
          <label for="phone_number" class="form-label">Phone Number</label>
          <input
            type="tel"
            class="form-control"
            id="phone_number"
            name="phone_number"
            placeholder="e.g. 6502530000"
          />
        </div>
      </div>
      <div class="row justify-content-center pt-5"> 
        <div class="col-auto">
          <label for="sure_check" class="form-label">Are you sure you'd like to unsubscribe?</label>
        </div>
      </div>
      <div class="row justify-content-center"> 
        <div class="col-auto">    
          <input
            type="checkbox"
            class="form-check"
            id="sure_check"
            name="sure_check"
          >
        </div>
      </div>
    </div>
    <div class="text-center pt-5"><button type="submit" class="btn btn-lg btn-light">Unsubscribe</button></div>
  </form>
{% endblock %}